---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import Pricing from '~/components/widgets/Pricing.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Art Student Support Platform',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Login',
          href: '#',
        },
        {
          variant: 'primary',
          text: 'Sign Up',
          href: '#',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Support Art Students"
    actions={[
      { variant: 'primary', target: '_blank', text: 'Get Started', href: 'https://github.com/onwidget/astrowind' },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Art Support Hero Image',
    }}
  >
    <Fragment slot="title">
      Empower artists with your support: <br /> your ultimate <span class="text-accent dark:text-white highlight">Art Student Platform</span><br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Elevate your impact on the art community with <span class="font-semibold">Support Art Students</span>'s solutions.</span>
      Support original artwork creation and receive high-quality replicas during the support period.
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Why choose our platform?"
    subtitle="Each feature enhances the value we provide to art students and supporters."
    columns={2}
    items={[
      {
        title: 'Support for Original Artwork',
        description:
          'Facilitates the creation of unique artworks by talented students, ensuring their artistic expression is nurtured.',
        icon: 'tabler:layers-union',
      },
      {
        title: 'Flexible Support Plans',
        description: `Choose from various support plans that fit your budget and commitment level while helping students thrive.`,
        icon: 'tabler:artboard',
      },
      {
        title: 'High-Quality Replicas',
        description:
          'Receive exquisite replicas of the original artworks during the support period, showcasing the students’ talent.',
        icon: 'tabler:writing',
      },
      {
        title: 'Community Engagement',
        description: `Join a vibrant community of art lovers and supporters, fostering connections and collaboration.`,
        icon: 'tabler:podium',
      },
      {
        title: 'Impactful Contributions',
        description: `Your support directly impacts the lives of aspiring artists, helping them pursue their dreams.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Anonymous Support',
        description: `Support students anonymously, allowing them to focus on their artistic journey without added pressure.`,
        icon: 'tabler:eyeglass',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="Use cases"
    subtitle="Discover how our platform supports various art students and their unique projects."
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Are you an aspiring artist with big dreams? Our platform propels your success by connecting you with supporters. Original artworks are created, showcasing your talent and creativity.',
      },
      {
        title: 'Benefits:',
        description: `Allow artists to quickly create and showcase their work without extensive resources. <br /> Make a memorable first impression with stunning artwork that highlights your unique value. <br /> Ensure your art is seen and appreciated by a wider audience. <br /> Engage supporters with captivating stories about your artistic journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1620558138198-cfb9b4f3c294?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1671&q=80',
      alt: 'Art Showcase',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Artist success stories: <br /><span class="text-2xl">Creating with Support</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `For art students, support is key. Our platform enhances showcasing their original artwork intuitively. The integration of support ensures a user-friendly experience, mirroring their artistic journey. Customize pages to communicate their value and solutions for art lovers.`,
      },
      {
        title: 'Benefits:',
        description: `Ensure a cohesive and artist-centric design for showcasing work. <br /> Effectively communicate artistic features through visual aids and storytelling. <br /> Prioritize artist needs and presentation through well-structured layouts and clear navigation. <br /> Encourage visitors to support artists with strategically placed calls to action. <br /> Ensure that artworks are accessible across all devices.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1531973486364-5fa64260d75b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1658&q=80',
      alt: 'Art Support Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Art showcase: <br /><span class="text-2xl">Streamlining artistic expression</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Your portfolio is your masterpiece, and our platform is your canvas. Whether you\'re a painter, sculptor, or digital artist, our platform empowers you to showcase your work with elegance. Tailored to highlight creative projects, our templates offer a visually immersive experience.`,
      },
      {
        title: 'Benefits:',
        description: `Serve as a captivating backdrop to showcase your creative work, capturing attention and leaving a lasting impression. <br /> Tailor your portfolio to reflect your unique style and artistic vision. <br /> Prioritizes visuals, allowing you to present your work in high-resolution detail that draws viewers into your creations. <br /> Enables seamless navigation for effortless portfolio exploration.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1635070041078-e363dbe005cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Portfolio Showcase',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Creative portfolios: <br /><span class="text-2xl">Highlighting your work</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
<Content
    items={[
      {
        title: 'Description:',
        description: `For art students, a well-crafted platform can be a game-changer. Our platform empowers art students to establish a credible online presence and connect with supporters. The thoughtful design and optimization features ensure that your artwork is showcased beautifully, guiding visitors through a seamless journey to support you.`,
      },
      {
        title: 'Benefits:',
        description: `Present your artwork with a professional and polished profile that instills confidence and trust among supporters. <br /> Strategically placed calls to action, user-friendly forms, and optimized layouts work together to drive engagement and support. <br /> Ensure a smooth browsing experience, reducing bounce rates and encouraging interaction.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1514621166532-aa7eb1a3a2f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Art Support Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Supporting Artists: <br /><span class="text-2xl">Converting visitors into supporters</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Pricing Widget ******************* -->

  <Pricing
    title="Flexible Support Plans"
    prices={[
      {
        title: 'Free',
        subtitle: 'Access to core features and support for artists',
        price: '0',
        period: '/ month',
        callToAction: {
          target: '_blank',
          text: 'Get Started for Free',
          href: '#',
        },
      },
      {
        title: 'Supporter',
        subtitle: 'Premium support and exclusive access to artworks',
        price: 15,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Upgrade to Supporter',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'Patron',
        subtitle: 'Tailored solutions for large-scale support',
        price: 45,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Unlock Patron Features',
          href: '#',
        },
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'Is this platform compatible with various art styles and mediums?',
        description:
          'Yes, our platform is designed to support a wide range of artistic styles and mediums, ensuring that every artist can showcase their unique work.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Can I support multiple artists at once?',
        description: `Certainly! You can choose to support as many artists as you like through our platform. Your contributions will help them thrive in their artistic journeys.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'What level of involvement is required to support artists?',
        description:
          'You can choose your level of involvement. Whether you want to provide financial support or simply promote artists, there are options for everyone.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Is customer support available for users seeking guidance?',
        description: `Absolutely, our dedicated customer support team is here to assist you with any questions or challenges you may encounter. Feel free to reach out to us through our support channels, and we'll be happy to provide the help you need.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Reach out to us"
    subtitle="Have questions? Feel free to contact us using the form below. We're here to help!"
    callToAction={{
      text: 'Contact us',
      href: '/',
    }}
    items={[
      {
        title: 'Email us',
        description: 'support@artplatform.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Call us',
        description: '+1 (234) 567-890',
        icon: 'tabler:headset',
      },
      {
        title: 'Follow us',
        description: '@artplatform',
        icon: 'tabler:brand-twitter',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Stay informed with our blog"
    information={`Explore our collection of articles, guides, and tutorials on art support, creative processes, and how to effectively use our platform for your artistic journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
